* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: rgb(243, 237, 237); */
  font-family: "Poppins", sans-serif;
}

.sofa{
  background-color: rgb(235, 22, 22);
  /* color: aliceblue; */
}